.grad--text {
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-clip: text;
    color: transparent;
}

body {
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

    font-family: "Rubik", sans-serif;
    color: var(--body-color);
    display: grid;
    grid-template-columns: 200px 48rem 325px;
    justify-content: center;
    align-items: start;
    padding: 20px 5rem;
}

main {
    max-height: 48rem;
    padding: 0 2.5rem;
}

.caixa--vermelha {
    height: 50px;
    width: 50px;
    background-color: rgb(187, 70, 70);
}

.caixa--azul {
    height: 100px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-top-right-radius: 50px;
}

.transition {
    transition: all 0.4s;
}

.paragrafo {
    max-width: 768px;
    line-height: 1.5;
    font-weight: 500;
}



h1 {
    margin-bottom: 1.5rem;
}

p {
    line-height: 1.4;
    max-width: 48rem;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.quadros {
    display: flex;
}

.quadro {
    width: 200px;
    height: 300px;
    background-color: rgb(235, 235, 235);
    border: 8px double #333;
}

.quadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qesquerdo {
    padding: 20px;

}

.qdireito {
    padding: 0px;
    margin-left: 100px;
}

.wrapper--quadros {
    display: flex;
    gap: 24px;
}


.wrapper--quadros .code--snippet {
    flex-grow: 1;
}

.big {
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    border: 2px solid black;
    width: 250px;
    height: 300px;
    padding: 24px;
}

.card h2 {
    font-size: 1.125rem;
    font-weight: 700;
}

.card p {
    font-size: .875rem;
    line-height: 1.5;
}

.card button {
    background-color: darkorange;
    color: white;
    padding: .5rem 1.5rem;
}

.card aside {
    border-radius: 4px;
    border: 2px solid black;
    padding: 6px 1rem;
    position: absolute;
    top: 108%;
    left: 0;
}

.card aside::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    left: 50%;
    top: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 15px solid #242424;
    transform: translate(-50%, calc(-100%));
}

.cesquerdo {
    box-sizing: content-box;
}

.cdireito {
    box-sizing: border-box;
}