:root {
  --radius: 9px;
  --code: "Source Code Pro", monospace;
  --body-text: "Rubik", sans-serif;

  --body-color: rgb(41, 44, 48);
  --para-space: 8px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



code {
  display: block;
  /* padding: 12px 6px; */
  color: #fefefe;
  background-color: #1b1b1b;
  border-radius: var(--radius);
  font-family: var(--code);
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
}

code::before {
  content: "🔴🟡🟢";
  position: absolute;
  width: 100%;
  top: -28px;
  left: 0;
  background-color: #333;
  border-radius: var(--radius) var(--radius) 0 0;
  padding: 4px;
  box-sizing: border-box;
}

code::after {
  content: "CSS";
  position: absolute;
  width: fit-content;
  font-style: italic;
  top: -26px;
  right: 0;
  padding: 2px 8px;
  color: hsl(25, 100%, 55%);
  font-weight: 700;
}

pre {
  font-family: inherit;
  padding: 6px 12px;
  background-color: inherit;
  border-radius: 0 0 var(--radius) var(--radius);
}

.tag,
.unidade {
  color: red;
}

.attribute,
.selector {
  color: #A5E22E;
}

.value {
  color: goldenrod
}

.property {
  color: hsl(182, 75%, 50%);
}

.css-value {
  color: #8270e6;
}

input {
  border-radius: var(--radius);
  padding: 2px 6px;
  font-family: var(--code);
  font-size: 16px;
  background: none;
  border: 0;
  color: #8270e6;
  outline: none;
}

input:focus {
  text-shadow: 0 0 6px #d9d8e1,
    0 0 2px #a499e7;
  border: 1px solid #0969da;
}